body{
	font-family: 'myfont';
	font-weight: normal;
	font-style: normal;
	letter-spacing: 3px;
	background-image: url('./images/aboutbg.png');
	background-repeat: repeat-x; 
	background-color: #6190f1;
	margin: 0px;
}


.container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.description-text{
	text-align: center;
	color: black;
	text-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
}

.body-text{
	text-align: center;
	color: black;
	text-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
}
