.outer-grid {
	display: flex;
	flex-wrap: wrap;
	padding-left: auto;
	padding-right: auto;
	text-align: center;
}
.inner-grid {
	/* display: block;
	
	padding-left: auto;
	padding-right: auto; */

	margin: auto;
    padding: 10px;

}

.gal-img {
	margin: -14px;
	width: 400px;
	height: 400px;
	/* box-shadow: 0px 0px 20px rgb(0, 0, 0);	 */
	transition: ease-out;

	/* width: 0px; */
	/* -webkit-filter: drop-shadow(5px 5px 2px #ffffff3b);
	filter: drop-shadow(5px 5px 2px #ffffff3b); */

}

.gal-big-img{
	/* margin: 60px;
	width: 1000px;
	box-shadow: 0px 0px 20px rgb(0, 0, 0);
	transition: ease-out;	 */

	width: 50%;
	height: 50%;
}

#myImg {
	/* border-radius: 5px; */
	cursor: pointer;
	transition: 0.1s;
}

#myImg:hover {
	transform: scale(1.05);
	/* box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); */
}

.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 100px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(255, 255, 255);
	/* Fallback color */
	background-color: rgba(255, 255, 255, 0.9);
	/* Black w/ opacity */
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

.modal-content,
#caption {
	animation-name: zoom;
	animation-duration: 0.2s;
}

@keyframes zoom {
	from {
		transform: scale(0.9)
	}
	to {
		transform: scale(1)
	}
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

@media only screen and (max-width: 700px) {
	.modal-content {
		width: 100%;
	}
}

.card {
	width: 500px;
	height: 500px;
	position: relative;
	display: inline-block;
	text-align: center;
}
.card .img-top {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
.card:hover .img-top {
	display: inline;
}

