.nav-logo{

  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  width: 100%;
  
}


.nav-menu{
	text-align: center;
	text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.479);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 800px;
  max-width: 1100px;
}



.nav-btn {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	color: black;
	font-size: 50px;
	text-decoration: none; 
}


.nav-social {
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}

.nav-btn:hover {
	color: white;
	text-decoration: none; 
}

.nav-btn:active {
	color: white;
	text-decoration: none; 
}

.nav-btn:after {
	color: white;
	text-decoration: none;
}




.body-text{
	text-align: center;
	color: rgb(0, 0, 0);
	/* text-shadow: -5px 5px 5px black; */
}

.rights-text{


	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

@font-face {
    font-family: 'myfont';
    src: url('fontkit2/ihatcs__-webfont.woff2') format('woff2'),
         url('fontkit2/ihatcs__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}