body{
	background-image: url("images/body-background.png");
	backdrop-filter: blur(1px);
	margin: 0px;
	background-attachment: fixed;
	font-family: 'bluenesia';
	scroll-behavior: smooth;
}

/* .font-kw{
	font-family: 'kwfontregular';
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0px;
}

.font-normal{
	font-family: 'arial';
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0px;
} */

.body-text{
	text-align: center;
	color: white;
	/* text-shadow: -5px 5px 5px black; */
}

.rights-text{
	color: rgb(209, 209, 209);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

@font-face {
    font-family: 'kwfontregular';
    src: url('fontkit/kwfont-webfont.woff2') format('woff2'),
         url('fontkit/kwfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dimbo';
    src: url('fontkit2/dimbo-webfont.woff2') format('woff2'),
         url('fontkit2/dimbo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 

/* @font-face {
    font-family: 'bluenesia';
    src: url('fontkit3/bluenesia-webfont.woff2') format('woff2'),
         url('fontkit3/bluenesia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */









.illgif {
	/* -webkit-filter: drop-shadow(500px 5px 5px #ffffff);
	filter: drop-shadow(5px 5px 10px #ffffff69); */
	/* width: 30%; */
	-webkit-user-drag: none;
	pointer-events: none;


}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.pixelart {
	-webkit-filter: drop-shadow(500px 5px 5px #ffffff);
	filter: drop-shadow(5px 5px 7px #ffffff33);
	-webkit-user-drag: none;
	pointer-events: none;
}

.pixelgif {
	/* -webkit-filter: drop-shadow(500px 5px 0px #ffffff); */
	filter: drop-shadow(0px 0px 20px #ffffff80);
	-webkit-user-drag: none;
	margin: -40px;
	pointer-events: none;
}

.imgbtn {
    /* filter: grayscale(100%); */
	filter: brightness(0) invert(1);
    -webkit-filter: grayscale(0);
	width: 200px;
	image-rendering: pixelated;
  	image-rendering: -moz-crisp-edges;
  	image-rendering: crisp-edges;
}

.imgbtn:hover {
    /* filter: none; */
    /* -webkit-filter: grayscale(0); */
	filter: brightness(0) invert(1);
	color: #ffffff;
}