.container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.youtube-vid{
	box-shadow: 0px 0px 60px rgb(0, 0, 0);	
	width: 640;
	height: 360px;
}

.description-text{
	text-align: center;
	color: white;
	text-shadow: -5px 5px 5px black;
}

.body-text{
	text-align: center;
	color: white;
	text-shadow: -5px 5px 5px black;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.pixelart {
	-webkit-filter: drop-shadow(500px 5px 5px #ffffff);
	filter: drop-shadow(5px 5px 7px #ffffff33);
	-webkit-user-drag: none;
	pointer-events: none;
}

.pixelgif {
	/* -webkit-filter: drop-shadow(500px 5px 0px #ffffff); */
	filter: drop-shadow(0px 0px 20px #ffffff80);
	-webkit-user-drag: none;
	margin: -40px;
	pointer-events: none;
}

.imgbtn {
    /* filter: grayscale(100%); */
	filter: brightness(0) invert(1);
    -webkit-filter: grayscale(0);
	width: 200px;
	image-rendering: pixelated;
  	image-rendering: -moz-crisp-edges;
  	image-rendering: crisp-edges;
}

.imgbtn:hover {
    /* filter: none; */
    -webkit-filter: grayscale(100);
	filter: brightness(0) invert(1);
}