.container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.youtube-vid{
	box-shadow: 0px 0px 60px rgb(0, 0, 0);	
	width: 640;
	height: 360px;
}

.description-text{
	text-align: center;
	color: white;
	text-shadow: -5px 5px 5px black;
}

.body-text{
	text-align: center;
	color: white;
	text-shadow: -5px 5px 5px black;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
}

