body {
	font-family: kwfont;
	src: url("fonts/kwfont.ttf");
	background-image: url("images/body-background.png");
}

.nav-cont{
	height: 240px;
}

.nav-bg-img {
	background-image: url("images/nav-background.png");
}

img{
	width: 255px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.bodytext{
	text-align: center;
	color: white;
	font-size: 90px;
}