body {
	margin: 0;
	font-family: kwfont;
	src: url("fonts/kwfont.ttf");
	background-image: url("images/body-background.png");
}

.nav-cont{
	height: 240px;
	vertical-align: middle;
	display: table-cell;
}


.nav-bg-img {
	background-image: url("images/nav-background.png");
}

.nav-btn {
	color: rgb(0, 0, 0);
	background-color: transparent !important;
	font-size: 30px;
}

.nav-btn:hover {
	color: white;
	background-color: transparent !important;
	text-decoration: none; 
}

.nav-btn:active {
	color: white;
	background-color: transparent !important;
}