.nav-bg-img {
	background-image: url("images/nav-background.png");
	height: 321px;
	/* position: fixed; */
  	/* top: 0; */
  	width: 100%;	
}

.nav-menu{
	text-align: center;
	height: 100px;
}

.nav-logo{
	position: absolute;
	top: 8%;
	left: 20%;
	max-width:150px;
    width:100%;
}

.nav-btn {
	position: relative;
	top: 100%;
	left: 3%;
	padding-left: 50px;
	color: black;
	font-size: 35px;
	text-decoration: none; 
	width: 200px;
}

.nav-social {
	position: relative;
	top: 100%;
	left: 150px;
	text-decoration: none; 
}

.nav-btn:hover {
	color: white;
	text-decoration: none; 
}

.nav-btn:active {
	color: white;
	text-decoration: none; 
}

.nav-btn:after {
	color: white;
	text-decoration: none;
}

