.nav-bg-img {
	background-image: url("images/nav-background.png");
	height: 321px;
	/* position: fixed; */
  	/* top: 0; */
  	width: 100%;	
}

.nav-menu{
	text-align: center;
	height: 100px;
	left: 50%;
}

.nav-logo{
	/* position: absolute;
	text-align: center; */
	/* left: 50%; */
	max-width:150px;
    width:100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 10%;
	-webkit-user-drag: none;
}

.nav-btn {
	position: relative;
	top: 20%;
	left: 0%;
	padding: 30px;
	color: black;
	font-size: 30px;
	text-decoration: none; 
	width: 200px;
}

.nav-social {
	position: relative;
	top: 20%;
	left: 20px;
	text-decoration: none; 
}

.nav-btn:hover {
	color: white;
	text-decoration: none; 
}

.nav-btn:active {
	color: white;
	text-decoration: none; 
}

.nav-btn:after {
	color: white;
	text-decoration: none;
}

